.button {
  font: inherit;
  padding: 0.25rem 1rem;
  color: white;
  background: #4f005f;
  border: 1px solid #4f005f;
  cursor: pointer;
}

button:hover,
button:active {
  background: #741188;
  border-color: #741188;
}

button:focus {
  outline: none;
}
